


/*css-header*/
.header-area .mein_menu_list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

.header-area .logo-img-small {
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 99999;
}
.header-area .logo-img-small img {
  width: 60px;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 0;
    height: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 0;
    height: 60px;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {
    position: absolute;
    display: inline-block;
    text-align: center;
    margin: 3px auto;
    z-index: 999;
    width: 140px;
    left: 0;
    right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    position: absolute;
    display: inline-block;
    text-align: center;
    margin: 3px auto;
    z-index: 999;
    width: 140px;
    left: 0;
    right: 0;
  }
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
}

.header-area .main-header-area .main-menu ul li a {
  color: #32353C;
  display: inline-block;
  padding: 35px 10px 35px 10px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 20px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}
.header-area .main-header-area .main-menu ul li a::before,.header-area .main-header-area .main-menu ul li a.active::before  {
  position: absolute;
  content: "";
  background: #ed2025;
  width: 100%;
  height: 3px;
  bottom: 25px;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: -100px;
  margin-top: 10px;
  top: 140%;
  background: #fff;
  width: Calc(100% * 8 );
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 1;
  /*visibility: hidden;*/
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #333335e0;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}


.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .slicknav_icon-bar {
  background: #fff !important;
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 9999;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.header-area .main-header-area.sticky .slicknav_icon-bar {
  background: #fff!important;
}

.header-area .main-header-area.sticky .boxed_btn_white {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  padding: 16px 29px;
  border: 2px solid #000;
  text-transform: capitalize;
}
.header-area .main-header-area.sticky .boxed_btn_white:hover {
  background: #000;
  color: #fff;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky .boxed_btn_white {
    padding: 13px 13px;
  }
}

.header-area .main-header-area.sticky .logo-img {
  display: inline-block;
}


.header-area .main-header-area.sticky .main-menu ul li {
  display: inline-block;
  position: relative;
}

.header-area .main-header-area.sticky .main-menu ul li a {
  color: #32353C;
  font-size: 20px;
  text-transform: capitalize;
  display: inline-block;
  padding: 35px 10px 35px 10px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

.header-area .main-header-area.sticky .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area.sticky .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area.sticky .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #ed2025;
  width: 100%;
  height: 3px;
  bottom: 25px;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-area .main-header-area.sticky .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}


.header-area .main-header-area.sticky .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area.sticky .main-menu ul li .submenu {
  position: absolute;
  left: -100px;
  margin-top: 10px;
  top: 140%;
  background: #fff;
  width: calc(100% * 8);
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header-area .main-header-area.sticky .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area.sticky .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #333335e0;
}

.header-area .main-header-area.sticky .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area.sticky .main-menu ul li .submenu li:hover a {
  color: #ed2025;
}
.header-area .main-header-area.sticky .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.header-area .main-header-area.sticky .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.logo-img {
  display: inline-block;
}
.header-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}
.header-area .main-header-area.sticky .logo-img img{
  height: 100px;
  width: 100px;
}



/*css-footer*/


.footer_area {
    float: left;
    width: 100%;
    padding: 40px 0 20px 0;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.05em;
    color: #fff;
    background: #961D27;
    box-shadow: 0px 0px 15px #000;
}
.footer_area .menu-footer h2 {
    margin-top: 0px;
    float: left;
    width: 100%;
    font-size: 20px;
    margin-bottom: 22px;
    position: relative;
    text-transform: uppercase;
    color: #fff;
}
.footer_area .menu-footer ul li {
    display: inline-block;
    margin: 10px 0px;
    padding-left: 40px;
    position: relative;
    width: 100%;
}
.footer_area .menu-footer ul li a {
    font-size: 15px;
    color: #fff;
}
.footer_area .menu-footer ul li img {
    position: absolute;
    left: 0;
    top: 0px;
    max-height: 25px;
    max-width: 25px;
    line-height: 25px;
    text-align: center;
}
.footer_area .menu-footer ul li:hover a{
  font-weight: bold;
}
.no-mg ul li{
  padding-left: 0px !important;
}
.icon-f i{
   font-size: 35px;
   border: 1px solid #fff;
   border-radius: 50%;
   width: 65px;
   height: 65px;
   line-height: 65px;
   text-align: center;
   margin-right: 10px;
   -webkit-transition: all 0.3s ease-in-out 0s;
   -moz-transition: all 0.3s ease-in-out 0s;
   -ms-transition: all 0.3s ease-in-out 0s;
   -o-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
}
.icon-f i:nth-child(3){
  margin-right: 0px;
}
.icon-f i:hover{
  background-color: #fff;
  color: red;
}