


body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}


img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  color: #fff;
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  color: #000;
}
a,
button {
  outline: medium none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  color: #32353C;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #777777;
  margin-bottom: 13px;
  font-family: 'Roboto', sans-serif;
}
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
h3 {
  font-size: 24px;
}


.gray-bg {
  background: #f5f5f5;
}
.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}

.bg-img-2 {
  background-image: url(../img/background-img/bg-img-2.jpg);
}

.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #020c26;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.851;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*css-trang chu*/


.gogo {
  margin-top: 160px;
}
.single_slider{
  position: relative;
}
.single_slider a{
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  color: #333335;
  display: block;
  left: 42%;
  border: 1px solid #33333559;
  padding: 5px 50px;
  border-radius: 10px;
  background-color: #e8e8e875;
  font-weight: bold;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.25);
}
.single_slider a:hover{
  color: #fff;
  background-color: #ee1f27;
  border: 1px solid #ffffff;
}
.grid-sizer,
.grid-item {
  width: 33.333%;
}

.album-image .grid-item,.box-new-img {
  float: left;
  position: relative;
  overflow: hidden;
}
.album-image .grid-item:before,.box-new-img:before{
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.album-image .grid-item:hover:before,.box-new-img:hover:before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}
.grid-item img {
  display: block;
  max-width: 100%;
  border: 4px solid #dcd8d8;
}
.item-5 img{
  width: 100%;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

/*css-tin tuc*/
.box-new-img img{
  margin: 0 auto;
  display: block;
}
.box-new-img h2{
  float: left;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: #961D27;
  border-bottom: 4px solid #961D27;
  margin-bottom: 10px;
}
.desc-new h2{
  color: #32353C;
  font-style: italic;
  font-size: 24px;
  line-height: 40px;
}
.desc-new p{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.desc-new a{
  color: #961D27;
  border: 1px solid #961D27;
  display: inline-block;
  padding: 8px 35px 7px 35px;
  margin-top: 15px;
  font-size: 19px;
}
.desc-new a:hover{
  background: #961D27;
  color: #fff;
}
.box-all-new{
  box-shadow: 0px 8px 8px rgba(177, 168, 168, 0.43);

}


/*css-chi nhanh*/



.box-danh-sach-cn .item-chinhanh h3 {
    color: #fff;
    background: #961D27;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 25px;
}
.box-danh-sach-cn h2 {
    font-size: 40px;
    font-weight: bold;
    color: #961D27;
    margin-bottom: 30px;
    position: relative;
}
.box-danh-sach-cn h2:after{
  position: absolute;
  content: "";
  width: 32%;
  height: 4px;
  bottom: -5px;
  left: 0px;
  background-color: #961D27;
}
.box-danh-sach-cn .group-chinhanh p {
    float: left;
    width: 100%;
    position: relative;
    padding-left: 35px;
    font-size: 16px;
    margin-bottom: 18px;
    text-transform: unset;
}
.box-danh-sach-cn .group-chinhanh img{
  position: absolute;
  left: 0;
  top: 1px;
  height: 19px;
}
.slider_area .owl-dots {
    position: absolute;
    right: 20px;
    bottom: 50px;
    transform: rotate(90deg);
}
.slider_area .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background: #17232fbd;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
}
.slider_area .owl-dots .owl-dot.active{
  background-color: #ef8809;
}
.number-slide{
  float: right;
  position: absolute;
  color: #fff;
  right: 100px;
  width: 100%;
  bottom: 100px;
}
.number-slide span:nth-child(1){
  font-size: 40px;
  font-weight: bold;
}


/*css xe a8*/


.box_slider_a8 .owl-nav .owl-prev,.box_slider_a8 .owl-nav .owl-next{
  border: none;
}
.box_slider_a8 .owl-nav{
  top: 50%;
}

.box_slider_a8 .owl-nav .owl-prev img{
  position: absolute;
  left: 74px;
  top: 50%;
}
.box_slider_a8 .owl-nav .owl-next img{
  position: absolute;
  right: 74px;
  top: 50%;
}

.box-mau-xe .owl-dots {
    position: absolute;
    bottom: 45%;
    left: 12%;
}
.box-mau-xe .owl-dots .owl-dot:nth-child(1),.box-mau-xe .owl-dots .owl-dot:nth-child(2),.box-mau-xe .owl-dots .owl-dot:nth-child(3),.box-mau-xe .owl-dots .owl-dot:nth-child(4),
.box-mau-xe .owl-dots .owl-dot:nth-child(5) {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    display: inline-block;
    background-repeat: no-repeat;
}
.box-mau-xe .owl-dots .owl-dot:nth-child(1){
    background-image: url(../images/a8-do.png);
}
.box-mau-xe .owl-dots .owl-dot:nth-child(2) {
    background-image: url(../images/a8-vang.png);
}
.box-mau-xe .owl-dots .owl-dot:nth-child(3) {
    background-image: url(../images/a8-xanh.png);
}
.box-mau-xe .owl-dots .owl-dot:nth-child(4) {
    background-image: url(../images/a8-td.png);
}
.box-mau-xe .owl-dots .owl-dot:nth-child(5) {
    background-image: url(../images/a8-tx.png);
}
.slide-a-81{
  position: relative;
  display: block;
}
.slide-a-81 .desc-xe{
  bottom: 50px;
  position: absolute;
  color: #151515;
}
.slide-a-81 .desc-xe h2{
  color: #151515;
  font-size: 36px;
  font-weight: bold;
}
.slide-a-81 .desc-xe p,.thong-so .desc-xe p{
  color: #424141;
  font-size: 24px;
  font-family: 'UTM', sans-serif;
}
.thong-so .desc-xe{
  position: absolute;
  bottom: 220px;
}
.ts-ky-thuat h2{
  text-align: center;
  font-size: 30px;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.ts-ky-thuat h2:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 70px;
  left: 47%;
  bottom: -5px;
  background-color: #c51313;
}
.ts-ky-thuat .table thead th{
  text-align: center;
  font-weight: normal;
}
.ts-ky-thuat .table thead th{
  border-bottom: none;
}
.ts-ky-thuat .table td, .table th{
  text-align: center;
}

/*css osaka-a9*/

.box-tk-a9 p,.desc-bt p,.img-dc p,.desc-cs p,.desc-man-a10 p  {
    color: #424141;
    font-size: 24px;
    font-family: 'UTM', sans-serif;
    text-align: center;
}
#carousel-1{
  margin-top: 20px;
}
.owl-carousel .owl-item img{
  cursor: pointer;
}
#carousel-2{
  border: 4px solid red;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(255,0,0,0.4);
  -moz-box-shadow: 0px 0px 25px 10px rgba(255,0,0,0.4);
  box-shadow: 0px 0px 25px 10px rgb(255 0 0 / 21%);
}
.bt-0{
  margin-top: 27%;
}
.bg-xam{
  background-color: #d0d0d0;
}
.container-fuild{
  padding-right: 80px;
  padding-left: 80px;
}
.desc-bt{
  top: 30%;
  position: absolute;
}
.img-dc img{
  margin: 0 auto;
  display: block;
  width: 100%;
}
.img-dc{
  padding: 20px 20px;
}
.img-dc p {
  margin-top: 20px;
  text-align: center;
}
.desc-cs{
  top: 30%;
  position: absolute;
}


/*css xe a10*/


.box-tk-a10,.box-man-hinh-a10,.box-tk-gogo,.box-tk-nipa {
  position: relative;
  display: block;
}
.desc-a10 h2,.desc-a10 p,.desc-gogo h2,.desc-gogo p{
  color: #fff;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  text-align: center;

}
.desc-a10,.desc-man-a10,.desc-gogo{
  position: absolute;
  width: 100%;
  top: 20px;
}
.desc-a10 h2{
  font-size: 36px;
  text-transform: uppercase;
  top: 30px;
  font-weight: bold;
}
.desc-gogo h2{
   font-size: 30px;
  text-transform: uppercase;
  top: 30px;
  font-weight: bold;
}
.desc-a10 p,.desc-gogo p{
  font-size: 24px;
  top: 80px;
}
.box-tk-a10 .owl-dots {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.box-tk-a10 .owl-dots .owl-dot:nth-child(1), 
.box-tk-a10 .owl-dots .owl-dot:nth-child(2),
.box-tk-a10 .owl-dots .owl-dot:nth-child(3),
.box-tk-a10 .owl-dots .owl-dot:nth-child(4),
.box-tk-a10 .owl-dots .owl-dot:nth-child(5),
.box-tk-a10 .owl-dots .owl-dot:nth-child(6),
.box-tk-a10 .owl-dots .owl-dot:nth-child(7) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    display: inline-block;
    background-repeat: no-repeat;
}
.box-tk-a10 .owl-dots .owl-dot:nth-child(1){
    background-color: #1e27ae;
}
.box-tk-a10 .owl-dots .owl-dot:nth-child(2) {
   background-color: #02b7d5;
}
.box-tk-a10 .owl-dots .owl-dot:nth-child(3) {
   background-color: #abafb3;
}
.box-tk-a10 .owl-dots .owl-dot:nth-child(4) {
     background-color: #a60408;
}
.box-tk-a10 .owl-dots .owl-dot:nth-child(5) {
    background-color: #e4ce11;
}
.box-tk-a10 .owl-dots .owl-dot:nth-child(6) {
    background-image: url(../images/a10-xd.png);
    background-size: 100% 100%;
}
.box-tk-a10 .owl-dots .owl-dot:nth-child(7) {
    background-image: url(../images/a10-dd.png);
     background-size: 100% 100%;
}
.desc-man-a10 h2,.desc-san-dc h2,.desc-hn h2{
  font-size: 30px;
  text-transform: uppercase;
  top: 30px;
  font-weight: bold;
  color: #32353C;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.bg-gio-xe{
  background-image: url(../images/bg-gio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.desc-gio,.desc-dc{
  position: absolute;
  top: 30%;
}
.desc-gio h2{
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}
.desc-gio p{
  color: #fff;
  font-size: 24px;
  font-family: 'UTM', sans-serif;
}
.img-san-dc img,.img-hn img{
   -webkit-box-shadow: 0px 0px 10px 5px #21252940;
  -moz-box-shadow: 0px 0px 10px 5px #21252940;
  box-shadow:0px 0px 10px 5px #21252940;
}
.desc-san-dc p,.desc-hn p,.desc-dc p,.desc-den-gogo p,.dong-co-gogo p{
  color: #32353C;
  font-size: 24px;
  font-family: 'UTM', sans-serif;
  margin-bottom: 0px;
}
.desc-san-dc,.desc-hn{
  bottom: 0px;
  position: absolute;
}
.desc-hn{
  bottom: 40px;
}
.desc-hn h2{
 text-align: left;
}
.img-hn img,.img-san-dc img,.carousel-2 .item img,.img-bt img,.img-dc img{
  width: 100%;
  height: 100%;
}

/*css- xe gogo*/

.tk-new span{
  font-size: 60px;
  color: #32353C;
  border: 2px solid #c3191d;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  line-height: 80px;
  margin-bottom: 20px;
}
.tk-new h2{
  font-weight: normal;
}
.box-tk-gogo .owl-dots,.box-tk-nipa .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
    text-align: center;
}
.box-tk-gogo .owl-dots .owl-dot,.box-tk-nipa .owl-dots .owl-dot {
    margin: 0 auto;
    display: inline-block;
}

.box-tk-gogo .owl-dots .owl-dot:nth-child(1),
.box-tk-gogo .owl-dots .owl-dot:nth-child(2),
.box-tk-gogo .owl-dots .owl-dot:nth-child(3),
.box-tk-gogo .owl-dots .owl-dot:nth-child(4),
.box-tk-gogo .owl-dots .owl-dot:nth-child(5),
.box-tk-gogo .owl-dots .owl-dot:nth-child(7),
.box-tk-gogo .owl-dots .owl-dot:nth-child(8),
.box-tk-gogo .owl-dots .owl-dot:nth-child(9)
 {
    width: 26px;
    height: 26px;
    margin: 0 10px;
    display: inline-block;
    background-repeat: no-repeat;
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(1){
    background-image: url(../images/gogo1.png);
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(2) {
    background-image: url(../images/gogo2.png);
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(3) {
    background-image: url(../images/gogo3.png);
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(4) {
    background-image: url(../images/gogo4.png);
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(5) {
    background-image: url(../images/gogo5.png);
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(6){
    background-color: #ffffff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(7) {
    background-image: url(../images/gogo7.png);
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(8) {
    background-image: url(../images/gogo8.png);
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(9) {
    background-image: url(../images/gogo9.png);
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(10) {
    background-color: #0f1215;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(11) {
    background-color: #ac0e16;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(12) {
    background-color: #565656;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}
.box-tk-gogo .owl-dots .owl-dot:nth-child(13) {
    background-color: #32520e;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}
.box-den-gogo{
  border: 5px solid #b95959;
  border-radius: 4px;
  -webkit-box-shadow: -5px 6px 10px 0px rgba(185,89,89,1);
  -moz-box-shadow: -5px 6px 10px 0px rgba(185,89,89,1);
  box-shadow: -5px 6px 10px 0px rgba(185,89,89,1);
}
.desc-den-gogo {
  position: absolute;
  top: 30%;
  padding-left: 100px;
}
.desc-den-gogo h3{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

.desc-dc-gogo{
  position: absolute;
  top: 30%;
}
.dong-co-gogo h2{
    font-size: 30px;
    text-transform: uppercase;
    top: 30px;
    font-weight: bold;
    color: #32353C;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
}
.tk-new h2{
  font-size: 36px;
  text-transform: uppercase;
  top: 30px;
  color: #32353C;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.bg-color-den{
  background-color: #494c4d;
}
.lop-and-xam .img-dc{
  padding: 0px;
}
.lop-and-xam .img-dc h2,.desc-pin-gogo h2{
  text-align: center;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 24px;
}
.desc-pin-gogo h2{
  color: #32353C;
  font-size: 30px;
  text-align: left;
}
.desc-pin-gogo p,.desc-man-nipa p{
  color: #32353C;
  font-size: 24px;
}
.lop-and-xam .img-dc p{
  margin-top: 0px;
  color: #fff;
  font-size: 20px;
  padding-bottom: 20px;
}
.lop-and-xam .img-dc{
 -webkit-box-shadow: 0px 0px 5px 3px rgba(73,76,77,0.56);
 -moz-box-shadow: 0px 0px 5px 3px rgba(73,76,77,0.56);
 box-shadow: 0px 0px 5px 3px rgba(73,76,77,0.56);
 border-radius: 4px;

}
.bg-xam2{
  background-color: #34383b;
}
.btom-4 h2,.btom-4 p{
  color: #fff;
}


/*css-xe nipa*/

.nipa .owl-carousel .owl-item img{
  margin-top: 110px;
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(1),
.box-tk-nipa .owl-dots .owl-dot:nth-child(2),
.box-tk-nipa .owl-dots .owl-dot:nth-child(3),
.box-tk-nipa .owl-dots .owl-dot:nth-child(4),
.box-tk-nipa .owl-dots .owl-dot:nth-child(5),
.box-tk-nipa .owl-dots .owl-dot:nth-child(6),
.box-tk-nipa .owl-dots .owl-dot:nth-child(7),
.box-tk-nipa .owl-dots .owl-dot:nth-child(8),
.box-tk-nipa .owl-dots .owl-dot:nth-child(9),
.box-tk-nipa .owl-dots .owl-dot:nth-child(10)
 {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    display: inline-block;
    background-repeat: no-repeat;
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(1){
    background-image: url(../images/sl-nipa1.png);
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(2) {
    background-image: url(../images/sl-nipa2.png);
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(3) {
    background-image: url(../images/sl-nipa3.png);
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(4) {
    background-color: #c20d13;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(5) {
    background-image: url(../images/sl-nipa5.png);
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(6){
    background-image: url(../images/sl-nipa-6.png);
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(7) {
    background-image: url(../images/sl-nipa7.png);
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(8) {
   background-color: #eef2f8;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: inline-block;
   margin: 0 10px;
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(9) {
   background-color: #bcdee2;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: inline-block;
   margin: 0 10px;
}
.box-tk-nipa .owl-dots .owl-dot:nth-child(10) {
   background-color: #010201;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: inline-block;
   margin: 0 10px;
}
.desc-man-nipa{
  position: absolute;
  bottom: 0px;
}
.img-man-nipa{
  -webkit-box-shadow: 0px 0px 15px 7px rgba(185,185,185,1);
  -moz-box-shadow: 0px 0px 15px 7px rgba(185,185,185,1);
  box-shadow: 0px 0px 15px 7px rgba(185,185,185,1);
}
.desc-man-nipa h2,.desc-nipa h2,.drive-nipa h2{
  color: #32353C;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}
.desc-man-nipa p,.desc-nipa p,.drive-nipa p{
  color: #32353C;
  font-size: 24px;
}
.desc-nipa p{
  text-align: left;
  position: relative;
}
.desc-nipa{
  position: absolute;
  width: 80%;
  top: 27%;
  left: 13%;
}
.bg-w{
  background-color: #ffffff59;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.box-man-hinh-a10.nipa h2,.box-man-hinh-a10.nipa p{
  color: #fff;
}

.box-man-hinh-a10.drive{
 position: relative;
 display: block;
}
.desc-hn-nipa{
  position: absolute;
  bottom: 25%;
  left: 35%;
}
.img-slide-nipa img{
  height: 580px;
  webkit-box-shadow: 0px 0px 5px 3px rgba(73,76,77,0.56);
  -moz-box-shadow: 0px 0px 5px 3px rgba(73,76,77,0.56);
  box-shadow: 0px 0px 5px 3px rgba(73,76,77,0.56);
  border-radius: 4px;
}
.img-slide-nipa{
  padding: 20px;
  text-align: center;
}
.img-slide-nipa h2{
  font-size: 24px;
  margin-top: 20px;
  color: #32353C;
  font-weight: bold;
}
.img-slide-nipa p{
  font-size: 20px;
  color: #32353C;
}
.slider_nipa,.slider_cl_nipa {
    position: relative;
    display: block;
}
.slider_nipa .owl-nav,.slider_cl_nipa .owl-nav {
    top: 50%;
}
.slider_nipa .owl-nav .owl-prev img {
    position: absolute;
    left: -50px;
    top: 35%;
}
.slider_nipa .owl-nav .owl-next img {
    position: absolute;
    right: -50px;
    top: 35%;
}
.sx-nipa .drive-nipa strong{
  font-weight: bold;
  color: black;
}
.tk-nipa p,.tk-nipa strong{
  color: #fff;
}
.tk-nipa strong{
  font-weight: bold;
}
.bg-xam3{
  background-color: #303030;
}

.cluong-nipa .owl-nav .owl-prev img {
    position: absolute;
    left: -100px;
    top: 35%;
}
.cluong-nipa .owl-nav .owl-next img {
    position: absolute;
    right: -100px;
    top: 35%;
}
.cluong-nipa p{
  font-size: 24px;
  margin-top: 20px;
}

/*css-xe xmen*/

.box-tk-xmen{
  background-image: url(../images/xmen2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 860px;
}
.box-tk-xmen .img-slide-gogo img{
  width: 50%;
  margin: 0 auto;
  padding: 100px 0px;
}
.box-tk-xmen {
  position: relative;
  display: block;
}
.box-tk-xmen .desc-gogo  h2{
  color: #121212;
  top: 0px;
}
.box-tk-xmen .owl-dots{
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: auto;
  text-align: center;
}
.box-tk-xmen .owl-dots .owl-dot:nth-child(1),
.box-tk-xmen .owl-dots .owl-dot:nth-child(2),
.box-tk-xmen .owl-dots .owl-dot:nth-child(3),
.box-tk-xmen .owl-dots .owl-dot:nth-child(4),
.box-tk-xmen .owl-dots .owl-dot:nth-child(5) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}
.box-tk-xmen .owl-dots .owl-dot:nth-child(1){
  background-color: #c20d13;
}
.box-tk-xmen .owl-dots .owl-dot:nth-child(2){
  background-color: #1e33b4;
}
.box-tk-xmen .owl-dots .owl-dot:nth-child(3){
  background-color: #91979b;
}
.box-tk-xmen .owl-dots .owl-dot:nth-child(4){
  background-color: #0fdb3a;
}
.box-tk-xmen .owl-dots .owl-dot:nth-child(5){
  background-color: #2f56b0;
}
.box-tk-xmen .desc-gogo p{
  top: 40px;
  color: #32353C;
  font-size: 24px;
}
.man-xmen{
  background-image: url(../images/bg-man-xmen.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: -1px;
}
.man-xmen .desc-man-nipa{
  bottom: 30%;
}
.manh-me .bg-w{
  background-color: transparent;
  padding: 0px;
}
.manh-me .desc-nipa {
    position: absolute;
    width: 100%;
    top: 27%;
    left: 0px;
}
.manh-me .bg-w strong{
  color: black;
  font-weight: bold;
}
.den-xmen .desc-man-a10 h2,.den-xmen .desc-man-a10 p{
  color: #fff;
}
.bg-black{
  background-color: black;
}
.botom2-xmen h2,.botom2-xmen p {
  color: #fff;
}
.bg-csuat{
  background-image: url(../images/bg-csuat-xmen.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
}
.bg-dm-xmen{
   background-image: url(../images/bg-dm.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
}
.tk-xmen h2{
  color: #fff;
}
.content-slide p{
  color: #32353C;
    font-size: 24px;
}
/* ///////////////////////csss-thanh scoll //////////////
}
 */
/* Track */
::-webkit-scrollbar {
    width: 10px;
    background-color: #ed2025;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/*Handle
*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #fff;
    -webkit-box-shadow: inset 0 0 6px #fff;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #fff;
}


/*css ho tro*/

.text-ht p{
  font-size: 24px;
  color: #32353C;
}
.content-ho-tro,.content-cua-hang{
  margin-top: 160px;
}
.chu-ky h3{
  text-align: right;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.mn-pc .tab-content a img{
  width: 258px;
  height: 200px;
}
.mn-c3 ul li:nth-child(1){
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
}
.mn-c3 ul li:nth-child(2){
  width: 50%;
  float: right;
  text-align: center;
  text-transform: uppercase;
}
.mn-c3 ul li.active,.menu-pc li a span:hover {
    background-color: rgb(73 76 77 / 17%);
}

.nav-tabs{
  border-bottom: none;
}

.header-area .main-header-area .main-menu ul li .mn-c3 ul>li:hover a{
  color: #ed1f26;
}
.menu-pc img{
  width: 272px;
  height: 200px;
  margin-top: 50px;
}
.menu-pc li a{
 float: left;
}
.destop li a{
    display:inline-block !important;
  }
.menu-pc span{
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  padding: 5px 20px;
  text-transform: uppercase;
}
.menu-pc{
  width: calc(100% * 16) !important;
  left: -920px!important;
}

/*css-cua-hang*/

 #search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 100%;
    height: 30px;
    position: relative;
    float: right;
    line-height: 22px;
}

    .search input {
        width: 100%;
        float: right;
        margin-right: 0px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 40px;
        line-height: 18px;
        padding: 0 2px 0 15px;
        border-radius: 25px;
    }

.box-address .btn {
    height: 40px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius: 25px;
    padding: 0PX 20PX;
}
.d-chi h2{
  font-weight: bold;
  color: #f75507;
  font-size: 20px;
  text-transform: uppercase;
}
.d-chi{
  width: 100%;
  border: 1px solid #00000026;
  padding: 25px;
  margin-top: 20px;
}
.d-chi i{
  font-size: 20px;
  color:#f75507;
  margin-right: 10px; 
}
.d-chi span{
  color:#f75507;
}
.box-dc{
   margin-top: 70px;
   max-height: 500px;
   overflow-y: scroll;
}
.box-address .btn-primary,.btn-success{
  border: none;
  outline: none;
  text-transform: uppercase;
  background: rgba(246,41,12,1);
  background: -moz-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 1%, rgba(245,130,101,1) 51%, rgba(231,56,39,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,41,12,1)), color-stop(1%, rgba(246,41,12,1)), color-stop(51%, rgba(245,130,101,1)), color-stop(100%, rgba(231,56,39,1)));
  background: -webkit-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 1%, rgba(245,130,101,1) 51%, rgba(231,56,39,1) 100%);
  background: -o-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 1%, rgba(245,130,101,1) 51%, rgba(231,56,39,1) 100%);
  background: -ms-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 1%, rgba(245,130,101,1) 51%, rgba(231,56,39,1) 100%);
  background: linear-gradient(to right, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 1%, rgba(245,130,101,1) 51%, rgba(231,56,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#e73827', GradientType=1 );
}
.img-map{
  max-height: 500px;
}
.modal-backdrop{
  z-index: 999;
}
.btn-success{
  border-radius: 25px;
  text-transform: uppercase;
  padding: 8px 40px;
}
.btn-success:hover{
  background-color: #ed2025 !important;
}
.form-horizontal label{
  font-size: 20px;
  color: black;
}
.btn:focus,.btn{
  outline: none;
  border: none;
  box-shadow: none;
}
.modal-header{
  border-bottom: none;
}
.modal-header .close{
  border-radius: 50%;
  color: #fff;
  background-color: #2d2a2af7;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 2px;
  top: 0px;
  opacity: 1;
  z-index: 9999999;
}
.modal-header span{
  position: absolute;
  top: 4px;
  left: 10px;
}
.img-map iframe{
  height: 100%;
  width: 100%
}
.menu-pc span{
  position: relative;
  display: block;
}
.menu-pc span;hover{
 color: #ed2025;
}
.menu-pc span::before {
    position: absolute;
    content: "";
    background: #ed2025;
    width: 50%;
    height: 3px;
    bottom: 0px;
    left: 25%;
    opacity: 0;
    transform: scaleX(0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.menu-pc span:hover:before {
    opacity: 1;
    transform: scaleX(1);
}